{% load compress static wagtailuserbar wagtailsettings_tags navigation_tags %}
{% load paleocore110_utils %}
{% load settings_tags %}
{% get_settings %}
<!DOCTYPE html>
{% spaceless %}
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        {% block title %}
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        {% endblock title %}
        {% block title_suffix %}
        {% endblock title_suffix %}
    </title>
    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bxslider-4/dist/jquery.bxslider.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/lightbox2/src/css/lightbox.css' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/app.scss' %}">
    {% endcompress %}

    {% block extra_css %}
    {% endblock extra_css %}

    {% block google_analytics %}
        {% include "utils/includes/google_analytics.html" %}
    {% endblock google_analytics %}

    </head>

    <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% get_site_root as site_root %}
    {% top_menu parent=site_root calling_page=self %}

    <div class="off-canvas-content" data-off-canvas-content>

        {% block breadcrumbs %}
            {% breadcrumbs %}
        {% endblock breadcrumbs %}

        {% block content %}
        {% endblock content %}

        <a href="#" class="scrollup">
            <img src="{% static 'img/top.png' %}" />
        </a>

        <footer>
            <div id="copyright">
                <div class="row text-center">
                    <p>© PaleoCore. All rights reserved. | Images: Denné Reed</p>
                </div>
            </div>
        </footer>
    </div>

    {% compress js %}
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/foundation-sites/dist/js/foundation.min.js' %}"></script>
    <script src="{% static 'libs/what-input/dist/what-input.min.js' %}"></script>
    <script src="{% static 'libs/bxslider-4/dist/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'libs/lightbox2/src/js/lightbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% endcompress %}

    {% block site_js %}
    <script>
    $(document).foundation();
    </script>
    <script>
    $(document).ready(function(){
      $('.bxslider').bxSlider({
          auto: true,
        //   autoControls: true,
          mode: 'vertical'
        });
    });
    </script>
    <script>
    $(document).ready(function() {
      $('#faq .block-faq_question').click(function() {
        $(this).next('.block-faq_answer').slideToggle(500);
        $(this).toggleClass('close');
      });
    });
    </script>
    <script>
    $('.reveal_modal').click(function(event) {
      event.preventDefault();

      $('#modal-content').empty();
      var link = $(this).attr("href");
      $('#modal-content').load(link + " .modal-content");
    });
    </script>
    {% endblock site_js %}

    {% block extra_js %}
    {% endblock extra_js %}
    </body>
</html>
{% endspaceless %}
