{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div class="row">
    <div class="column small-10 small-centered medium-6">
        <p>{% trans "Your new password has been set.  You may go ahead and log in now." %}</p>

        <p><a href="{% url 'login_user' %}">{% trans 'Log in' %}</a></p>
    </div>
</div>
{% endblock %}