{% load wagtailcore_tags wagtailimages_tags %}
<!--
<div class="small-12 columns">-->
{% for project in projects %}

<div class="row">

<a href="{% pageurl project %}">
    <div class="column">
        <div class="card">
            <div class="card-section" style="padding: 12px;">

                <div class="row">
                    <div class="small-2 column">
                        {% if project.feed_image %}
                        {% image project.feed_image fill-100x100 %}
                        {% endif %}
                    </div>
                    <div class="small-10 column">
                    <h5><strong>{{ project.title }}</strong></h5>
                        {% if project.intro %}
                            {{ project.intro|richtext|truncatewords:25 }}
                        {% endif %}
                    </div>
                </div>
{#                <div class="small-12 columns">#}
{#                <p>#}
{#                    <a class="float-right button tiny"#}
{#                      href="{% pageurl project %}"><strong>Details &raquo;</strong>#}
{#                    </a>#}
{#                </p>#}
{#                </div>#}
                <!-- <br> -->
            </div>
        </div>
    </div>

</a>
</div>

{% empty %}
    No projects found
{% endfor %}
<!--</div>-->
