{% load static %}
<!-- Below Landing Page Fold Items -->
<div class="section">
    <!-- <h1>BELOW FOLD</h1> -->
    <div id="section">
      <div id="icons" class="row text-center">
        <div class="large-up-4 medium-up-2 small-up-1" data="">
          <div class="column icon grow">
            <a href="/about/">
              <div class="card">
                <h5><strong>About PaleoCore</strong></h5>
                <div class="card-section" style="padding: 5px;">
                  <div class="rich-text">
                    <p>PaleoCore is an initiative to develop data standards and digital infrastructure for paleoanthropology. PaleoCore addresses the common scientific challenge of merging results from independent research programs.</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="column icon grow">
            <a href="/projects/">
              <div class="card">
                <h5><strong>Data</strong></h5>
                <div class="card-section" style="padding: 5px;">
                  <div class="rich-text">
                    <p>Search and query paleobiology data sets. PaleoCore supports a federated network of data providers. Learn about becoming a data contributor publishing geospatial data sets to help answer big-picture questions about human origins.</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="column icon grow">
            <a href="/tools/">
              <div class="card">
                <h5><strong>Tools</strong></h5>
                <div class="card-section" style="padding: 5px;">
                  <div class="rich-text">
                    <p>Find links to useful software tools for paleo-data collection, management and exchange, including specialized data collection tools for field campaigns and excavations as well as resources for building and managing geospatial databases.</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="column icon grow">
            <a href="/workshops/">
              <div class="card">
                <h5><strong>Community</strong></h5>
                <div class="card-section" style="padding: 5px;">
                  <div class="rich-text">
                    <p>Standards for data collection and management are key aspects of data exchange. The PaleoCore Project is working to develop a standard by gathering input from the research community through a series of symposia and workshops.</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
