{% load static %}
<!-- About Sidebar Items -->
<div class="sidebar section">
    <!--
    <div>
        <a href="/about/goals/"><h4>Goals</h4></a>
    </div>
    -->
    <div>
        <h4>Development Team</h4>
        <p>
            <strong>Denn&eacute; Reed</strong> - Principle Investigator<br />
            <strong>John Kappelman</strong>- co-PI<br />
            <strong>Shannon McPherron</strong> - Senior Personnel<br />
            <strong>Tomislav Urban</strong> - Lead Developer<br />
            <strong>Andrew Barr</strong> - Developer<br />
            <strong>Andrew Cook</strong> - Developer<br />
        </p>
    </div>
    <div>
        <h4>Contact Paleocore</h4>
        <p>
            <a href="mailto:paleocore@paleocore.org?subject=Paleocore%20Inquiry">paleocore@paleocore.org</a>
        </p>
        <p>
            Denn&eacute; Reed<br />
            University of Texas at Austin<br />
            Dept. of Anthropology<br />
            2201 Speedway Stop C3200<br />
            Austin, TX 78712
        </p>
        <h4>Links to Related Projects</h4>
        <ul>
            <li><a href="http://www.efossils.org/" target="_blank">eFossils</a></li>
            <li><a href="http://www.eskeletons.org/" target="_blank">eSkeletons</a></li>
            <li><a href="http://www.elucy.org/" target="_blank">eLucy</a></li>
            <li><a href="http://dublincore.org/" target="_blank">Dublin Core Initiative</a></li>
            <li><a href="http://www.tdwg.org/" target="_blank">TDWG</a></li>
            <li><a href="http://www.gbif.org/" target="_blank">GBIF</a></li>
            <li><a href="http://ethoinformatics.org/" target="_blank">Ethoinformatics</a></li>
            <li><a href="http://paleoanthro.org" target="_blank">Paleoanthropology Society</a></li>
            <li><a href="http://www.eshe.eu/" target="_blank">European Society for the study of Human Evolution</a></li>
        </ul>
        <h4>Posters and Publications</h4>
        <p>
          <a href="https://www.amazon.com/Geospatial-Approaches-Anthropological-Sciences-Advanced/dp/0826359671">Reed, D., WA Barr and J Kappelman. 2018. Paleocore: an open-source platform for geospatial data integration in paleoanthropology. </a>
        </p>
        <p>
          <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/evan.21466">Reed, D. et al. 2015. Digitial data collection in paleoanthropology. </a>
            <i>Evolutionary Anthropology</i> 24:238-249</a>
        </p>
        <p>
            <a href="/media/documents/ESHE_poster_revised.pdf" target="_blank">European Society for the study of Human Evolution&nbsp;2015 poster</a>
        </p>
        <p>
            <a href="/media/documents/ESHE_poster_revised_A4.pdf" target="_blank">European Society for the study of Human Evolution&nbsp;2015 poster A4 format</a>
        </p>
        <p>
            <a href="/media/documents/About_PaleoCore.pdf" target="_blank">About PaleoCore Presentation</a>
        </p>
    </div>
</div>
