{% load static %}
<!-- Below Landing Page Fold Items -->
<div class="section">
    <!-- <h1>BELOW FOLD</h1> -->

    <div id="section">
        <div id="icons" class="row text-center">
            <div class="large-up-4 medium-up-2 small-up-1" data="">

                <div class="column icon grow">
                    <a href="/projects/">
                        <div class="card">
                            <h5><strong>Projects</strong></h5>
                            <div class="card-section" style="padding: 5px;">
                                <div class="rich-text">
                                    <p>Paleo Core provides collaborative data management tools for paleoanthropology
                                        projects and research teams. Learn about using the paleocore platform to support
                                        and facilitate your research.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column icon grow">
                    <a href="/tools/">
                        <div class="card">
                            <h5><strong>Tools</strong></h5>
                            <div class="card-section" style="padding: 5px;">
                                <div class="rich-text">
                                    <p>Useful software for paleo-data collection, management and collaboration,
                                        including data collection tools for field campaigns as well as resources for
                                        building and managing geospatial databases.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column icon grow">
                    <a href="/standards/">
                        <div class="card">
                            <h5><strong>Community</strong></h5>
                            <div class="card-section" style="padding: 5px;">
                                <div class="rich-text">
                                    <p>Standards are key aspects of data exchange. The Paleo Core Project is working
                                        with standards organization such as TDWG to develop and document implementations
                                        of data standards for paleoanthropology.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column icon grow">
                    <a href="https://github.com/paleocore/paleocore110">
                        <div class="card">
                            <h5><strong>Code</strong></h5>
                            <div class="card-section" style="padding: 5px;">
                                <div class="rich-text">
                                    <p>Paleo Core is a Free Open Source Software for Geospatial (FOSS4G) project built
                                        on Python, Django, PostgreSQL, PostGIS, GeoServer and R. The
                                    project source code is available through GitHub.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="section">

            <div class="row" style="background-color: white">
            <div class="small-2 column">
                <a href="#"><img src={% static "img/nsf1.gif" %}></a>
            </div>
                <div class="small-2 column">
                    <a href="#"></a><img src={% static "img/tacc-logo.jpeg" %} width="200px"></a>
                </div>
                <div class="small-2 column">
                    <a href="#"><img src={% static "img/jetbrains.png" %} width="100px"></a>
                </div>
                <div class="small-2 column">
                    <a href="#"><img src={% static "img/dbvissplash.png" %} width="200px"></a>
                </div>
                <div class="small-2 column">
                    <a href="#"><img src={% static "img/python-logo.png" %} width="200px"></a>
                </div>
                <div class="small-2 column">
                    <a href="#"><img src={% static "img/django-logo-positive.png" %} width="150px"></a>
                </div>
            </div>

    </div>
</div>
